<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Aiti\ProductResponsibleUserApi\Api\ProductResponsibleUserApiManagementInterface" type="Aiti\ProductResponsibleUserApi\Model\ProductResponsibleUserApiManagement"/>
</config>
